<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Guestbook </h1>
  <%= link_to 'Sign Our Guestbook', new_guest_path, class: "btn btn-lg btn-primary" %>
  <br>
  <br>
  <hr>
  <% @guests.each do |guest| %>
    <div class="card">
      <div class="card-header">
        <%= guest.created_at %>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p><%= guest.comment %></p>
          
          <footer class="blockquote-footer">
          <%= guest.name %>
          <%= link_to 'Edit', edit_guest_path(guest), class: "btn btn-sm btn-primary" %>
          </footer>
        </blockquote>
      </div>
    </div>
  <% end %>
</div>
<br>




