<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About Us</h1>
    <p class="lead">Interactive Graphics is an introduction to interactive graphics programming for artists. Explores object-oriented programming via the Processing programming environment as well as historical and theoretical appreciation of interactivity and computer graphics as artistic media. Combines discussions of key concepts from the readings with hands-on Processing projects and critiques</p>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="card-deck">
        <div class="card">
          <%= image_tag("angelina.png", class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title">Angelina</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <%= image_tag("cassidy.png", class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title">Cassidy</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <%= image_tag("eric.png", class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title">Eric</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
  </div>
  <br>
    <div class="row">
      <div class="card-deck">
        <div class="card">
          <%= image_tag("gianna.png", class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title">Gianna</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <%= image_tag("ian.png", class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title">Ian</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <%= image_tag("jo.png", class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title">Jo</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
  </div>
  <br>
    <div class="row">
      <div class="card-deck">
        <div class="card">
          <%= image_tag("kira.png", class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title">Kira</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <%= image_tag("ksenia.png", class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title">Ksenia</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <%= image_tag("nikhil.png", class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title">Nikhil</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
      <br>
    <div class="row">
      <div class="card-deck">
        <div class="card">
          <%= image_tag("riyanka.png", class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title">Riyankat</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <%= image_tag("soren.png", class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title">Soren</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <%= image_tag("sydney.png", class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title">Sydney</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
        <div class="row">
      <div class="card-deck">
        <div class="card">
          <%= image_tag("tae.png", class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title">Tae</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <%= image_tag("soren.png", class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title">Some Student</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <%= image_tag("sydney.png", class: "card-img-top", alt: "Card image cap") %>
          <div class="card-body">
            <h5 class="card-title">Some Student</h5>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  <!-- /.row -->

 </div>