<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <a><%= link_to "Gallery", root_path, class: "navbar-brand"%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

      <div data-turbolinks="false">
        <li class="nav-item">
          <a><%= link_to "Our Gallery", gallery_index_path, class: "nav-link"%><a>
        </li>
      </div>

       <li class="nav-item">
          <a><%= link_to "Guest Book", guests_path, class: "nav-link"%><a>
        </li>

        <li class="nav-item">
          <a><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %></a>
        </li>


      <% else %>
        <li class="nav-item">
          <a><%= link_to "About", landing_about_path, class: "nav-link"%><a>
        </li>

        <li class="nav-item">
          <a><%= link_to "Facts", landing_facts_path, class: "nav-link"%><a>
        </li>

        <li class="nav-item">
          <a><%= link_to "Login", new_user_session_path, class: "nav-link"%><a>
        </li>

        <li class="nav-item">
          <a><%= link_to "Get Started", new_user_registration_path, class: "nav-link"%><a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
